<section class="c-main">
    <div class="c-app">
        <nav>
          <c-tree-view params="root: menu, clickHandler: menuItemClick"></c-tree-view>
        </nav>
        <article class="c-content">
          <c-view params="url: hash, actionsPresenter: $data"></c-view>
        </article>
    </div>
</section>
